language: node_js
node_js: stable

cache:
    apt: true
    directories:
        - node_modules # 缓存不经常更改的内容

before_install:
- openssl aes-256-cbc -K $encrypted_3f5b9d00fa1f_key -iv $encrypted_3f5b9d00fa1f_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa

# S: Build Lifecycle
install:
  - npm install


#before_script:
 # - npm install -g gulp

script:
  - hexo clean  #清除
  - hexo g

addons:
  ssh_known_hosts: ${DEPLOY_IP}

after_script:
  # - cd ./public
  # - git init
  # - git config user.name "luoyunchong" # 修改name
  # - git config user.email "luoyunchong@foxmail.com" # 修改email
  # - git add .
  # - git commit -m "Travis CI Auto Builder"
  # - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:master # GH_TOKEN是在Travis中配置token的名称 # 一种 
  - git config user.name "luoyunchong" # 修改name
  - git config user.email "luoyunchong@foxmail.com" # 修改email
  - sed -i "s/gh_token/${GH_TOKEN}/g" ./_config.yml # 替换同目录下的_config.yml文件中gh_token字符串为travis后台刚才配置的变量，注意此处sed命令用了双引号。单引号无效！
  - hexo deploy
  - pwd
  - scp -o StrictHostKeyChecking=no -r public/  ubuntu@$DEPLOY_IP:/var/www/html/hexo-blog


branches:
  only:
    - master
env:
 global:
   - GH_REF: github.com/luoyunchong/luoyunchong.github.io.git


notifications:
  email:
    - luoyunchong@foxmail.com
  on_success: change
  on_failure: always